@use "drocket/setting.scss" with ($e-bar-padding-y: 0px,
    $btn-border-width: 1px,
    $border-radius-root: 4px,
    $colors: ("primary": #bb182f,
        "red": #D72638,
        "error":#e30425,
        "blue":#0077B6,
        "green":#3B9E77,
        "yellow":#FFC300,
        "white":#F8F9FA,
        "warning": #ffa21a,
        "success": #009254,
        "secondary": #013048,
        "input": #4f636b,
        "input-placeholder": #b7b9ba,
        "input-border": #e3e9eb,
        "label": #536e7d,
        "list-color": #536e7d,
        "black": #101418,
        "root-color": #4f636b,
        "disabled": #b7b9ba,
        "gray": #91a0a8,
        "gray-dark": #34586c,
        "gray-light": #d2dee3,
        "margin": #ffcc80,
        "padding": #c5e1a5,
    ),
    $btn-height: ("x-small": 2rem,
        "small": 2.5rem,
        "default": 3rem,
        "large": 3.125rem,
        "x-large": 3.5rem,
    ), $icon-font-sizes: ("x-small": 18px,
        "small": 20px,
        "default": 24px,
        "large": 28px,
        "x-large": 36px,
    ))